<!doctype html>
<html lang="ko">
    <body>
        <h1>Post list</h1>
        <!-- 글 목록을 ul요소내에 표시 -->
        <ul>
           {% for post in posts %}
                <li>
                    <!-- 각각의 글의 제목과 내용을 나누어 표시 -->
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                    <!-- 역방향 관계로 Post 객체에서 자신과 연결된 모든Comment 객체를 QuerySet 객체로 반환 -->
                    <ul>
                        {% for comment in post.comment_set.all %}
                            <li>{{ comment.content }}</li>

                        {% empty %} <!-- post.comment_set.all에 순회할 항목이 없는 경우 -->
                            <li>아직 댓글이 없습니다.</li>
                        {% endfor %}
                    </ul>
                    <!-- 템플릿에서 썸네일 이미지를 보여줄때 src 속성의 값은 thumbnail.url 속성으로 이미지의 URL을 가져 온다.-->
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail.url }}" alt="" />
                    {% else %}
                        <img src="" alt="" />
                    {% endif %}
                </li>
           {% endfor %}
        </ul>
    </body>
</html>
