{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>

    <body>
        <div id="navbar">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" />
            {% endif %}
            <span>{{ post.title }}</span>
        </div>
        <div id="post-detail">
            <p>{{ post.content|linebreaksbr }}</p>
            <div style="border: 1px solid red;width:40%;margin-bottom:10px"></div>
            <ul class="comments">
                {% for comment in post.comment_set.all %}
                    <li class="comment">{{ comment.content }}</li>

                {% empty%}
                    <li class="comment-empty">아직 댓글이 없습니다.</li>
                {% endfor %}
            </ul>

            <form method="POST">
                <!-- csrf는 Django의 내장 보안 기법중의 하나이다.
                    csrf 선언시 여기 form 영역은 브라우저 별로 고유값을 가지는 영역으로 설정 된다.
                    사용자가 브라우저에 해당 페이지의 form 영역에서 POST 데이터를 전달 할 경우
                    서버에 저장되어 있는 고유값과 일치 할 경우 POST 요청을 수락한다.
                 -->
                {% csrf_token %}
                <textarea name="comment"></textarea>
                <button type="submit" class="btn btn-primary">댓글 작성</button>
            </form>

            <p>현재 post객체의 post_id: {{ post_id }}</p>
        </div>
    </body>
</html>