.chapter {
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 3px;
}

.title {
  font-size: 12px;
  font-weight: bold;
}

.content {
  font-size: 10px;
}

#python {
  background-color: blue;
}

#django {
  background-color: green;
}